*{
    background-color: forestgreen;
}
h1 { 
    color:rgb(36, 21, 44); 
    font-family: ‘Helvetica Neue’, sans-serif; 
    font-size: 45px; 
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1;
    text-align: center; 
    }

p { 
    color: #262e22;
    font-family: ‘Helvetica Neue’, sans-serif; 
    font-size: 14px; 
    line-height: 24px; 
    margin: 0 0 24px; 
    text-align: justify; 
    text-justify: inter-word;
}
button{
    background: rgb(212, 196, 193);
}
