html {
    background-color: #00539f;
  }
body {
    width: 600px;
    margin: 0 auto;
    background-color: #d3422f;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
  }
  h1 {
    margin: 0;
    padding: 20px 0;
    color: #00539f;
    text-shadow: 3px 3px 1px black;
  }
