*{
    background-color: rgb(126, 190, 53);
}
button{
    background: rgb(48, 189, 189);
}
p{
    background: rgb(65, 205, 212);
    width: 600px;
    border: 1px solid black;
    font-size: 16px;
}
label{
    background: rgb(63, 123, 212);
    width: 600px;
}
input{
    background: rgb(49, 158, 177);
    width: 600px;
}
