body {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    color:black;
    background-color: coral;
    }
    
    .container {
    margin-top: 20px;
    color: cadetblue;
    }
    
    .input-label {
    font-size: 20px;
    margin-bottom: 10px;
    }
    
    .input-field {
    height: 40px;
    width: 200px;
    font-size: 18px;
    padding-left: 5px;
    color: aqua;
    }
    
    .result-label {
    font-size: 20px;
    margin-top: 10px;
    color: darkblue;
    }
