*{
    height: 50px;
    width: 100%;
    height: 60px;
    background-color:#74a8df;
    font-size: 20px;
    border-radius: 10px;
}
body {
    font-variant: initial;
    font-size: larger;
    font-weight: 400;
    color : "#712fc7c"

}
button {
    margin-top: 20px;
    border-radius: 0cqw;
    color: rgb(204, 86, 86);
    
}

